<nav>
  <ul>
    <li><a href="/pages/courses">Courses</a></li>
    <li><a href="/showcase">Showcase</a></li>
    <li><a href="/assigment">Assignment</a></li>
    <li><a href="/videos">Videos</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/examples/">Examples</a></li>
  </ul>
</nav>
