<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/pages/courses">Courses</a></li>
    <li><a href="{{ site.baseurl }}/showcase">Showcase</a></li>
    <li><a href="{{ site.baseurl }}/assignment/">Assignment</a></li>
    <li><a href="{{ site.baseurl }}/videos">Videos</a></li>
    <li><a href="{{ site.baseurl }}/resources/">Resources</a></li>
    <li><a href="{{ site.baseurl }}/slides/">Slides</a></li>
    <li><a href="{{ site.baseurl }}/examples/">Examples</a></li>
  </ul>
</nav>
