<nav>
  <ul>
    <li><a href="{{ '/courses' | url }}">Courses</a></li>
    <li><a href="{{ '/assignment/' | url }}">Assignment</a></li>
    <li><a href="{{ '/videos' | url }}">Videos</a></li>
    <li><a href="{{ '/resources/' | url }}">Resources</a></li>
    <li><a href="{{ '/slides/' | url }}">Slides</a></li>
    <li><a href="{{ '/examples/' | url }}">Examples</a></li>
  </ul>
</nav>
