---
layout: layouts/base
---
<header>
  <h1 class="home"><a href="/">{{ metadata.title }}</a></h1>
</header>
<main>
    {% include 'components/nav.njk' %}
  <div class="full">
    {{ content | safe }}
  </div>
</main>
<footer></footer>
